.main_box{
    text-align: center;
}

.box{
    display: inline-block;
    padding: 5px;
    background: #8bb4f7;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
}

.selected_box{
    background: #f26f55;
    color: white;
    font-size: 20px;
}